.container > div {
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color: rgba(233,171,88,.5);
  padding: 1em;
  color: #d9480f;
}.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.Top{
		grid-column: 1 / 6;
    grid-row: 1;
  
}
.logButton{
  
  margin-left:355px;
}
.LoginArea{
  margin-left:869px; 
}
.registerButton{
  margin-left:10px;

}
.Right{
		grid-column: 4 / 4;
    grid-row: 2;
    width:100px;
}
.Bottom{
  grid-column: 1/6;
  grid-row: 7;
}
.Middle{
  grid-column: 2/4;
  grid-row: 2/7;
  width:700px;
}
