html, body{
  min-width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  font-family: "Arial Black", Gadget, sans-serif;
}

body{
  display:table;
  margin:0;
}

h1{
  font-size: 24pt;
}

ul{
  padding-left:20px;
}

textarea{
  width: 100%;
  height: 500px;
}
div.dateplacement{
	color:red;
}
.container{
  min-width: 100%;
  height:100%;
  min-height: 100%;
}

.form-signin{
  vertical-align: middle;
  width:100%;
  margin-bottom:30px;
}

.signup{
  color: #DC3546;
}

.signup:hover{
  color: blue;
  cursor: pointer;
}

.form-register{
  vertical-align: middle;
  width:100%;
}

.btn{
  margin-top:10px;
  margin-bottom:10px;
}

.btn:hover{
  cursor: pointer;
}

.modal-backdrop{
  background-color: black;	
}

.leftpane {
    width: 25%;
    height: 100%;
    float: left;
    padding:50px;
    background:url('../images/bg.png');
    border: 5px solid white;
}

.middlepane {
    width: 50%;
    height: 100%;
    float: left;
    padding:50px;
    background-image: linear-gradient(180deg, #b1f6ca, #ebfdd5);
    border: 5px solid white;
}

.rightpane {
  width: 25%;
  height: 100%;
  float: right;
  padding:50px;
  background:url('../images/bg.png');
  border: 5px solid white;
}

.toppane {
  width: 100%;
  height: 200px;
  border: 5px solid white;
  background:url('../images/bg.png');
}
